;  This is the installation configuration file, which lists the
;  'installation set' files which are available.
;
;  Each line of this file which does not start with a semicolon is
;  read and parsed as an entry.  The first word on the line is the
;  type of installation and the second word is the filename of the
;  file containing the installation set.
;
Minimum        MIN.INS
Recommended    MAX.INS
